*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
  line-height: 1;
}

:root {
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 16px;
}

.square {
  width: 20rem;
  height: 20rem;
  background-color: red;
}

.playback-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #dddddd;
  padding: hem(2) hem(1);
  transform-origin: bottom left;
}

