<div class="clip">
  <div class="clip__header">
    <span class="clip__number"></span>
  </div>
  <div class="clip__body">
    <div class="clip__effect">
      <div class="clip__length-bars">
        <div class="clip__length-bar clip__length-bar--delay"></div>
        <div class="clip__length-bar clip__length-bar--duration"></div>
        <div class="clip__length-bar clip__length-bar--end-delay"></div>
        <div class="clip__phase-segments"></div>
      </div>
      <div class="clip__label">
        <div class="clip__effect-category">
          <div class="clip__effect-category-icon"></div>
        </div>
        <div class="clip__effect-name-box">
          <div class="clip__effect-name"></div>
        </div>
        <div class="clip__description-box">
          <p class="clip__description-text"></p>
        </div>
        <div class="clip__info-button-box">
          <button class="clip__info-button">i</button>
        </div>
      </div>
    </div>
    <!-- <webchalk-clip-info-box></webchalk-clip-info-box> -->
  </div>
</div>
