<div class="phase-segment">
  <button class="phase-segment__button"></button>
  <div class="phase-segment__info-box" popover>
    <section class="phase-segment__info-box-section phase-segment__info-box-section--tasks">
      <div class="phase-segment__info-box-heading">Timestamp</div>
      <ul class="phase-segment__info-box-list phase-segment__info-box-list--timestamps">
      </ul>
    </section>

    <section class="phase-segment__info-box-section phase-segment__info-box-section--tasks">
      <div class="phase-segment__info-box-heading">Scheduled Tasks</div>
      <!-- <div class="phase-segment__info-box-subsection">
        <div class="phase-segment__info-box-subheading">Tasks</div>
      </div></div> -->
      <ul class="phase-segment__info-box-list phase-segment__info-box-list--tasks"></ul>
    </section>

    <section class="phase-segment__info-box-section phase-segment__info-box-section--promises">
      <div class="phase-segment__info-box-heading">Promises</div>
      <div class="phase-segment__info-box-lists">
        <div class="phase-segment__info-box-subsection phase-segment__info-box-subsection--forward">
          <div class="phase-segment__info-box-subheading">Scheduled On Play</div>
          <ul class="phase-segment__info-box-list phase-segment__info-box-list--promises">
        </div>
        <div class="phase-segment__info-box-subsection phase-segment__info-box-subsection--backward">
          <div class="phase-segment__info-box-subheading">Scheduled On Rewind</div>
          <ul class="phase-segment__info-box-list phase-segment__info-box-list--promises">
        </div>
      </div>
    </section>
  </div>
</div>
