.timeline {
  line-height: 1;

  &__inner-wrapper {
    --hem: 10px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

.user-select-none,
&.user-select-none {
  user-select: none !important;
}

.pointer-events-none {
  pointer-events: none !important;
}
