@use 'utils' as *;

.timeline__inner-wrapper {
  --clip-height: calc(#{hem(3.5)} + 1px);
}

.clip {
  min-height: var(--clip-height);
  --clip-bg: white;
  border-top: 1px solid var(--color-gray-darkest);

  display: flex;
}

:host(:nth-child(even)) .clip {
  --clip-bg: var(--color-gray-lighter);
}

.clip__header {
  position: sticky;
  z-index: $z--clip-header;
  left: 0;
  flex: 0 0 $sequence-left-side-width;
  // box-shadow: 1.75px 0 1px rgba(50, 50, 50, .55);
  box-shadow: 3px 0 2px #53535399;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clip-bg);
}

.clip__number {
  color: var(--color-gray-darkest);
}

.clip__body {
  flex: 1 0 auto;
  background-color: var(--clip-bg);

  display: flex;

  &:hover:not(:has(> :hover)) {
    cursor: move;
  }
}

:host(.error) {
  .clip__body,
  .clip__header {
    background-color: var(--color-error-light);
  }
}

/* CLIP EFFECT */
.clip__effect {
  transition: margin-left 0.1s;
  height: min-content;
  z-index: $z--clip-effect;
}

.clip__effect--entrance {
  @include category-color(entrance);
}

.clip__effect--connector-entrance {
  @include category-color(entrance);
}

.clip__effect--exit {
  @include category-color(exit);
}

.clip__effect--connector-exit {
  @include category-color(exit);
}

.clip__effect--motion {
  @include category-color(motion);
}

.clip__effect--text-editor {
  @include category-color(text-editor);
}

.clip__effect--scroller {
  @include category-color(text-editor);
}

.clip__effect--connector-setter {
  @include category-color(text-editor);
}

.clip__effect--emphasis {
  @include category-color(emphasis);
}

.clip__length-bars {
  height: hem(2);
  position: absolute;

  display: flex;
}

.clip__length-bar {
}

.clip__length-bar--delay {
  width: hem(2);
  border: 3.5px solid var(--hue-dark);
  border-right: none;
}

.clip__length-bar--duration {
  width: hem(7.8);
  min-width: hem(0.25); // TODO: make slightly thicker if next to a delay/end-delay bar so its location is clearly visible
  background-color: var(--hue-dark);

  transition: width 0.1s;
}

.clip__length-bar--end-delay {
  width: hem(4);
  border: 3.5px solid var(--hue-dark);
  border-left: none;
}

/* LABEL */
.clip__label {
  position: relative;
  height: hem(2.2);
  width: fit-content;
  top: hem(0.8);

  display: flex;
}

.clip__label > * {
  flex-shrink: 0;
}

.clip__effect-category,
.clip__effect-name-box {
  color: var(--hue-darkest);
  background-color: var(--hue-light);
  border: 1.5px solid var(--hue-dark);
}

/* EFFECT CATEGORY */
.clip__effect-category {
  margin-right: -1.5px;
  padding: 0 hem(0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip__effect-category-icon {
  font-weight: 900;
  text-align: center;
}

/* EFFECT NAME */
.clip__effect-name-box {
  margin-right: -1.5px;
  padding: 0 hem(0.4);
  display: grid;
  place-content: center;
}

.clip__effect-name {
  font-family: var(--font-code-family);
  font-weight: 500;
}

/* EFFECT DESCRIPTION */
.clip__description-box,
.clip__info-button-box {
  background-color: var(--clip-bg);
  border: 1.5px solid var(--color-gray);
  color: var(--color-gray);
}

.clip__description-box {
  margin-right: -1.5px;
  padding: 0 hem(0.4);
  font-family: var(--font-primary-family);

  display: grid;
  place-content: center;
}

.clip__description-text {

}

.clip__info-button-box {
  width: hem(2.2);
  padding: hem(0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

// TODO: add hover/active styling
.clip__info-button {
  width: 100%;
  height: 100%;
  background-color: var(--clip-bg);
  border: 1.5px solid var(--color-gray);
  border-radius: 50%;
  font-family: Georgia;
  font-size: hem(1.2);
  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;
}
