@use 'utils' as *;
@use 'clip';

/* TIMELINE */
.timeline {
  --color-gray-darkest: #121213;
  --color-primary-blue: #04448E;
  --color-glow-blue: #039BE5;
  --color-glow-blue-light: #70efef;
  // --color-glow-error: #e50395;
  --color-glow-error: var(--color-error-dark);
  // --color-glow-error-light: #ff90ff;
  --color-glow-error-light: var(--color-error-light);
  --color-gray: #4E4E4E;
  --color-gray-light: #E0E0E0;
  --color-gray-lighter: #ECECEC;
  --color-gray-lightest: #F7F7F7;
  --color-entrance-light: #9AFF9A;
  --color-entrance-dark: #004900;
  --color-entrance-darkest: #002700;
  --color-exit-light: #FFB5B5;
  // --color-exit-dark: #9E0600;
  --color-exit-dark: #330200;
  --color-exit-darkest: #330200;
  --color-motion-light: #F4BCFF;
  // --color-motion-dark: #7E0096;
  --color-motion-dark: #24002B;
  --color-motion-darkest: #24002B;
  --color-emphasis-light: #eeea99;
  --color-emphasis-dark: #444000;
  --color-emphasis-darkest: #242200;
  --color-text-editor-light: #CDCDCD;
  --color-text-editor-dark: #242424;
  --color-text-editor-darkest: #141414;
  
  --color-error-dark: #4B2F36;
  --color-error-darkest: #330200;
  --color-error-light: #FFB3D2;

  --font-primary-family: "Verdana";
  --font-code-family: "Cascadia Code", "Fira Code";

  --hems-per-second: #{hem(15)};

  --timeline-opacity: 100%;

  container-name: timeline-ui;
  container-type: size;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 500px;
  min-height: 15px;
  max-height: calc(100vh - 20px);
  // background-color: lightgray;
  background-color: var(--color-primary-blue);
  opacity: var(--timeline-opacity);
  font-family: var(--font-primary-family);
  font-size: hem(1.2);
  font-weight: 400;

  display: flex;
  flex-direction: column;
  
  display: grid;
  grid-template-areas: 
    'header header'
    'sequences error';
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
}

:host(.error) {
  .timeline {
    background-color: var(--color-error-dark);
  }
  .timeline__header {
    border-bottom-color: var(--color-error-darkest);
  }
  .timeline__error-panel {
    display: block;
  }
}

/* HEADER */  
.timeline__header {
  // z-index: $z--timeline-header;
  // background-color: var(--color-primary-blue);
  color: var(--color-gray-lightest);
  width: 100%;
  padding: hem(1) hem(2);
  border: 4px solid var(--color-gray-darkest);
  border-left: none;
  border-right: none;
  grid-area: header;

  display: flex;
  align-items: baseline;
  gap: hem(3);
}

.timeline__resizer {
  width: 100%;
  height: 8px;
  // background-color: red;
  position: absolute;
  top: -5px;
  cursor: ns-resize;
}

.timeline__name {
  font-size: hem(1.6);
  font-weight: 700;
}

.timeline__step-selection-container {
  display: flex;
  gap: hem(0.6);
  align-items: baseline;
}

.timeline__step-selection-wrapper {
  // position: relative;
  font-size: inherit;
  background-color: var(--color-gray-lightest);
  border-radius: 2px;
  padding: hem(0.2) hem(0.4);
  color: var(--color-gray-darkest);

  display: flex;
  gap: hem(0.5);
}

.timeline__step-selection-input-container {
  display: flex;
}

.timeline__step-selection-input-container::after {
  content: "▼";
  align-self: center;
  display: block;
  color: currentColor;
  font-size: 1rem;
  scale: 1 0.7;
  pointer-events: none;
}

.timeline__step-selection-input {
  align-self: flex-end;
  appearance: none;
  background-color: transparent;
  border: none;
  min-width: hem(4);
  padding: 0 2px;
  field-sizing: content;
  // width: fit-content;
}

.timeline__step-selection-datalist {
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
}

.timeline__jump-button {
  height: hem(2);
}

.timeline__opacity-container {
  // align-self: center;

  display: flex;
  gap: hem(0.6);
  align-items: baseline;
}

.timeline__opacity-slider-wrapper {
  background-color: var(--color-gray-lightest);
  border-radius: 2px;
  padding: hem(0.2) hem(0.4);
}

.timeline__opacity-slider {
  accent-color: var(--color-gray-darkest);
  width: hem(8);
}

// .timeline__clickthrough-button-container {
//   background-color: var(--color-gray-lightest);
//   padding: hem(0.4);
//   border-radius: 2px;
// }

/* SEQUENCES CONTAINER */
.timeline__sequences-container {
  flex: 1;
  overflow-y: scroll;
  grid-area: sequences;

  display: flex;
  flex-direction: column;
  // scroll-snap-type: y proximity;
}

/* ERROR PANEL */
.timeline__error-panel {
  grid-area: error;
  position: sticky;
  top: 0;
  left: 0;
  z-index: $z--timeline-error-panel;
  width: 800px;
  min-width: 30px;
  max-width: 99vw;
  background-color: var(--color-error-dark);
  border-left: 3px solid var(--color-error-darkest);
  line-height: 1.5;
  color: var(--color-error-light);
  overflow-y: auto;

  display: none;
}

.timeline__error-panel-resizer {
  height: 100%;
  width: 6px;
  position: absolute;
  translate: calc(-50% - (2px / 2));
  top: 0;
  left: 0;
  cursor: ew-resize;
  // background-color: green;
}

.timeline__error-panel-heading-container {
  padding: hem(1) hem(2);
  color: var(--color-error-light);
  background-color: #330200;

  // display: flex;
  // align-items: center;
}

.timeline__error-panel-heading-text {
  font-family: "Fira Code";
  font-size: hem(1.4);
}

// TODO: probably don't need this
.timeline__error-panel-body-wrapper {
  
}

.timeline__error-panel-body {
  padding: hem(1) hem(2);

  display: flex;
  flex-direction: column;
  gap: hem(1.5);
}

// TODO: really similar to clip info box styling. might do something to keep it DRY
.timeline__error-panel-section {
	display: flex;
	flex-direction: column;
	gap: calc(0.5 * var(--hem));
}

.timeline__error-panel-subheading {
	background-color: var(--color-error-darkest);
	color: var(--hue-light);
	font-weight: 600;
	padding: calc(0.5 * var(--hem)) calc(0.8 * var(--hem));
}

.timeline__error-panel-section-body {

}

.timeline__error-panel ul {
  list-style-position: outside;
  padding-left: hem(2.5);

  display: flex;
  flex-direction: column;
  gap: hem(0.5);
}

.timeline__error-panel details {
  padding-left: hem(2);
}

.timeline__error-panel details summary {
  font-style: italic;
}

.timeline__error-panel details summary > * {
  display: inline-block;
}

.timeline__error-panel .pre--block {
  border: 1px solid white; // only when surrounding background is dark
}

.timeline__error-panel code {
  background-color: #221212;
}

@container timeline-ui (min-height: 0px)   { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(2.0); } } }
@container timeline-ui (min-height: 220px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(2.5); } } }
@container timeline-ui (min-height: 255px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(3.5); } } }
@container timeline-ui (min-height: 290px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(4.5); } } }
@container timeline-ui (min-height: 325px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(5.5); } } }
@container timeline-ui (min-height: 360px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(6.5); } } }
@container timeline-ui (min-height: 395px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(7.5); } } }
@container timeline-ui (min-height: 430px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(8.5); } } }
@container timeline-ui (min-height: 465px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(9.5); } } }
@container timeline-ui (min-height: 500px) { .timeline { ::part(sequence__schedule) { max-height: clip-based-height-units(10.5); } } }
