@function hem($num-hem) {
  @return calc(#{$num-hem} * var(--hem));
}

@function hemSeconds($num-hem) {
  @return calc(#{$num-hem} * var(--hem) * var(--hems-per-second))
}

@function clip-based-height-units($multiplier) {
  @return calc(var(--clip-height) * $multiplier + hem(4.2));
}

$sequence-left-side-width: hem(3.2);

$z--timeline-header: 8;
$z--timeline-error-panel: 7;
$z--schedule-darkened-overlay: 6;
$z--schedule-header-padding: 5;
$z--schedule-header: 5;
$z--clip-header: 4;
$z--schedule-playhead: 3;
$z--schedule-ticks: 3;
$z--clip-effect: 2;
$z--clip-info-box: 2;
$z--empty-time-fill: 1;

@mixin category-color($category) {
  --hue-light: var(--color-#{$category}-light);
  --hue-dark: var(--color-#{$category}-dark);
  --hue-darkest: var(--color-#{$category}-darkest);
}

@function var-lighten($color, $percent) {
  @return color-mix(in srgb, $color (100% - $percent), white);
}
@function var-darken($color, $percent) {
  @return color-mix(in srgb, $color (100% - $percent), black);
}
