*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
  min-height: 100vh;
  background-color: #111;
}

.main {
  height: 100vh;
  overflow: hidden;
}

p {
  color: #f7f7f7;
  padding: 1rem 2rem;
}
