.array {
  border: 2px solid #111;
  width: min-content;

  display: flex;
}

.array__block {
  width: 10rem;
  height: 10rem;
  background-color: #f7f7f7;

  display: grid;
  align-items: center;
  justify-content: center;
}

.array__value {
  font-size: 2.4rem;
  color: black;

  display: grid;
  align-items: center;
  justify-content: center;
}

.array__block:not(:last-child) {
  border-right: 1.5px solid #111;
}

.square {
  width: 10rem;
  height: 10rem;
  background-color: #f7f7f7;
  outline: 3px solid #111;
  position: relative;
}

.circle {
  position: absolute;
  top: 10rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: -1;
}

.circle--1 {
  background-color: #99ffff;
  opacity: 0.5;
}

.circle--2 {
  background-color: #9999ff;
}

.circle--3 {
  background-color: #99ff99;
}

.circle--4 {
  background-color: #ff9999;
  opacity: 0.5;
}

.connector {
  stroke-width: 5px;
}

.connector--1 {
  stroke: #99ffff;
}

.connector--2 {
  stroke: #9999ff;
}

.connector--3 {
  stroke: #ff9999;
}

.connector--4 {
  stroke: #99ff99;
}
