@use 'utils' as *;

.timeline {
  --track-height: calc(#{hem(3.5)} + 1px);
}

.sequence__track {
  height: var(--track-height);
  --track-bg: white;
  border-top: 1px solid var(--color-gray-darkest);

  display: flex;
}

.sequence__track:nth-child(even) {
  --track-bg: var(--color-gray-lighter)
}

.sequence__track-header {
  position: sticky;
  z-index: $z--track-header;
  left: 0;
  flex: 0 0 $sequence-left-side-width;
  // box-shadow: 1.75px 0 1px rgba(50, 50, 50, .55);
  box-shadow: 3px 0 2px #53535399;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--track-bg);
}

.sequence__track-number {
  color: var(--color-gray-darkest);
}

.sequence__track-body {
  position: relative;
  flex: 1 0 auto;
  // height: 100%;
  background-color: var(--track-bg);

  display: flex;

  &:hover:not(:has(> :hover)) {
    cursor: move;
  }
}

/* CLIP */
.clip {
  transition: margin-left 0.1s;
}

.clip--entrance {
  @include category-color(entrance);
}

.clip--exit {
  @include category-color(exit);
}

.clip--motion {
  @include category-color(motion);
}

.clip--text-editor {
  @include category-color(text-editor);
}

.clip__length-bars {
  height: hem(2);

  display: flex;
}

.clip__length-bar {
}

.clip__length-bar--delay {
  width: hem(2);
  border: 3.5px solid var(--hue-dark);
}

.clip__length-bar--duration {
  width: hem(7.8);
  min-width: hem(0.25);
  background-color: var(--hue-dark);

  transition: width 0.1s;
}

.clip__length-bar--end-delay {
  width: hem(4);
  border: 3.5px solid var(--hue-dark);
}

/* LABEL */
.clip__label {
  position: absolute;
  height: hem(2.2);
  width: fit-content;
  top: hem(0.8);

  display: flex;
}

.clip__label > * {
  flex-shrink: 0;
}

.clip__effect-category,
.clip__effect-name-box {
  color: var(--hue-darkest);
  background-color: var(--hue-light);
  border: 1.5px solid var(--hue-dark);
}

/* EFFECT CATEGORY */
.clip__effect-category {
  margin-right: -1.5px;
  // width: hem(2);
  padding: 0 hem(0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip__effect-category-icon {
  // font-family: "Roboto";
  font-weight: 900;
  text-align: center;
}

/* EFFECT NAME */
.clip__effect-name-box {
  margin-right: -1.5px;
  padding: 0 hem(0.4);
  display: grid;
  place-content: center;
}

.clip__effect-name {
  font-family: var(--font-code-family);
  font-weight: 500;
}

/* EFFECT DESCRIPTION */
.clip__description-box,
.clip__info-button-box {
  background-color: var(--track-bg);
  border: 1.5px solid var(--color-gray);
  color: var(--color-gray);
}

.clip__description-box {
  margin-right: -1.5px;
  padding: 0 hem(0.4);
  font-family: var(--font-primary-family);

  display: grid;
  place-content: center;
}

.clip__description-text {

}

.clip__info-button-box {
  width: hem(2.2);
  padding: hem(0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.clip__info-button {
  width: 100%;
  height: 100%;
  background-color: var(--track-bg);
  border: 1.5px solid var(--color-gray);
  border-radius: 50%;
  font-family: Georgia;
  font-size: hem(1.2);
  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;
}
