@use 'utils' as *;

.clip-info-box--entrance {
  @include category-color(entrance);
}

.clip-info-box--exit {
  @include category-color(exit);
}

.clip-info-box--motion {
  @include category-color(motion);
}

.clip-info-box--text-editor {
  @include category-color(text-editor);
}

.clip-info-box {
  position: relative;
  background-color: var(--hue-light);
  border: 2px solid var(--hue-dark);
  color: var(--hue-darkest);
  font-size: hem(1.2);
  line-height: 1.2;
  margin-bottom: hem(3);
  margin-left: -1.5px; // prevents double border with clip info button box border
}

.clip-info-box__resizer {
  --resizer-thickness: 6px;
  position: absolute;
  --offset: calc(50% + (2px / 2));
  // background: red;
  // background-color: var(--hue-dark);
}

.clip-info-box__resizer--width {
  height: 100%;
  width: var(--resizer-thickness);
  translate: var(--offset);
  top: 0;
  right:0;
  cursor: ew-resize;
}

.clip-info-box__resizer--height {
  width: 100%;
  height: var(--resizer-thickness);
  translate: 0 var(--offset);
  bottom: 0;
  left: 0;
  cursor: ns-resize;

}
.clip-info-box__inner-wrapper {
  // min-width: hem(30);
  // max-height: calc(11 * var(--clip-height));
  // height: 100%;

  display: flex;
  flex-direction: column;
}

.clip-info-box__nav {
  background-color: var(--hue-dark);
  overflow-x: auto;
  flex-shrink: 0;
  width: auto;

  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.clip-info-box__tabs {
  list-style: none;

  display: flex;
}

.clip-info-box__tab-button {
  padding: hem(0.2) hem(0.4);
  border: 1.5px solid var(--hue-dark);
  border-top: none;
  height: 100%;
  white-space: nowrap;

  background-color: var(--hue-light);
  transition: background-color 0.1s, color 0.1s;

  &:hover {
    // background-color: oklch(from var(--hue-light) calc(l + 0.2) c h);
    background-color: var-lighten(var(--hue-light), 40%);
  }
  &:active {
    color: var(--hue-light);
    background-color: var-lighten(var(--hue-dark), 20%);
  }
  &#{&}--current {
    cursor: default;
    background-color: var(--hue-dark);
    color: var(--hue-light);
  }
}

.clip-info-box__tab {
  &:first-child .clip-info-box__tab-button {
    border-left: none;
  }
  &:not(:last-child) .clip-info-box__tab-button {
    border-right: none;
  }
  &:last-child .clip-info-box__tab-button {
    border-right-color: var(--hue-light);
  }
}

.clip-info-box__close-button {
  background-color: var(--hue-light);
  border: none;
  border-bottom: 1.5px solid var(--hue-dark);
  width: hem(1.5);
  font-size: hem(1.2);
  font-weight: 900;
  transition: background-color 0.1s, color 0.1s;

  &:hover {
    background-color: var-lighten(var(--hue-light), 40%);
  }
  &:active {
    color: var(--hue-light);
    background-color: var-lighten(var(--hue-dark), 20%);
  }
}

.clip-info-box__body {
  padding: hem(1) hem(1) 17.5px;

  height: calc(11 * var(--clip-height));
  min-height: hem(6);
  max-height: calc(12 * var(--clip-height));
  overflow-y: auto;
  overscroll-behavior: contain;
  
  display: flex;
  flex-direction: column;
  gap: hem(1.5)
}

.clip-info-box__section {
  display: flex;
  flex-direction: column;
  gap: hem(0.5);
}

.clip-info-box__section-name {
  background-color: var(--hue-dark);
  color: var(--hue-light);
  font-weight: 600;
  padding: hem(.5) hem(.8);
}

.clip-info-box__section-body {
  line-height: 1.3;
  padding: 0 hem(0.8); 
  display: flex;
  flex-direction: column;
  gap: hem(0.6);

  .rows {
    display: flex;
    flex-direction: column;
    gap: hem(0.5);
  }

  .row {
    &:not(:last-child) {
      border-bottom: 1px solid currentColor;
      padding-bottom: hem(0.5);
    }

    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: hem(7.5) 1fr;
    column-gap: hem(1);
    row-gap: hem(0.5);
  }

  .col--head {
    font-style: italic;
    font-weight: 600;
    flex: 20;
    white-space: nowrap;
  }

  .col--body {
    flex: 80;
    min-width: 200px;
  }
}

@container clip-info-box (max-width: 200px) {
  .clip-info-box__section-body .row {
    // grid-template-columns: 1fr;
  }
}
