@use 'utils' as *;
@use 'clip';

/* SEQUENCE */
.sequence {
  width: 100%;
  background-color: var(--color-gray-darkest);

  --color-glow-light: var(--color-glow-blue-light);
  --color-glow: var(--color-glow-blue);
}

:host(.error) {
  .sequence {
    background-color: var(--color-error-dark);
    --color-glow-light: var(--color-glow-error-light);
    --color-glow: var(--color-glow-error);
  }
}

.sequence__header {
  // background-color: var(--color-gray-darkest);
  background-color: inherit;
  padding: hem(1) hem(2);
  color: var(--color-gray-lightest);

  display: flex;
  align-items: baseline;
  gap: hem(1.6);
}

.sequence__number {
  font-size: hem(1.4);
  font-weight: 700;
}

.sequence__description {
  font-weight: normal;
}

/* SEQUENCE CONTROLS */
.sequence__controls-container {
  // background-color: var(--color-gray-darkest);
  background-color: inherit;
  padding-left: $sequence-left-side-width;
  // border-bottom: 1px dashed #f7f7f788;
}

.sequence__controls {
  background-color: var(--color-gray-light);
  height: 100%;
  width: fit-content;
  padding: hem(0.4) hem(1);

  display: flex;
  align-items: center;
  gap: hem(1);
}

.sequence__control {
  width: hem(2);
  height: hem(2);
  background-color: gray;
  border: none;
}

.sequence__control--play-light {
  border-radius: 50%;
}

.sequence__control--jump-button {
  border-radius: 2px;
  padding: hem(0.4);
  background-color: var(--color-gray-darkest);
  border-radius: 25%;
  box-shadow: 2px 2px 2px 1px #53535399;

  display: grid;
  place-content: center;
}

.sequence__control-icon {
  fill: var(--color-gray-lightest);
  width: 100%;
  height: 100%;
}

/* SCHEDULE */
.sequence__schedule {
  position: relative;
  overflow: scroll;
  // overscroll-behavior: contain;
  // max-height: clip-based-height-units(7.5);
  max-height: clip-based-height-units(12.5);
  transition: max-height 0.1s;
  background-color: inherit;

  display: flex;
}

.sequence__schedule:has(.info-box-shown) {
  max-height: unset !important;
}

$schedule-wrapper-scroll-padding: 17.5px;

.sequence__schedule-inner-wrapper {
  // grid-area: wrapper;
  position: relative;
  min-width: 100%;
  height: 100%;
  flex: 1 0 auto;
  padding-bottom: $schedule-wrapper-scroll-padding; // TODO: move to .sequence__clips?
  background-color: inherit;

  display: inline-block;
}

/* SCHEDULE HEADER */
.sequence__schedule-header {
  position: sticky;
  top: 0;
  z-index: $z--schedule-header;
  grid-area: header;
  background-color: inherit;

  display: grid;
  grid-template-areas:
  'pad times'
  'pad ticks';
  grid-template-columns: auto 1fr;
}

.sequence__schedule-header-pad {
  grid-area: pad;
  width: $sequence-left-side-width;
  // background-color: var(--color-gray-darkest);
  background-color: inherit;
  position: sticky;
  left: 0;
  z-index: $z--schedule-header-padding;
}

.sequence__schedule-times {
  grid-area: times;
  // background-color: var(--color-gray-darkest);
  background-color: inherit;
  color: var(--color-gray-lightest);
  font-family: var(--font-code-family);
  padding: hem(0.5) 0;

  display: flex;
}

.sequence__schedule-time-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
  width: var(--hems-per-second);
}

.sequence__schedule-time {
  
}

.sequence__playhead-trail {
  position: absolute;
  top: 0;
  background-color: var(--color-glow-light);
  box-shadow: inset 0 0 5px var(--color-glow);
  height: 100%;
  // width: hem(22.5); // only for initial mockup
}

.sequence__playhead {
  pointer-events: none;
  width: 0;
  border-left: hem(0.2) dashed var(--color-glow-light);
  // left: $sequence-left-side-width; // accounts for clip header width
  position: sticky;
  top: hem(0);
  transform: translateX(calc(50% + $sequence-left-side-width)); // to center it
  // translate: hem(22.5); // only for initial mockup
  // bottom: $schedule-wrapper-scroll-padding;
  z-index: $z--schedule-playhead;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: hem(-0.2);
    top: 0;
    width: hem(0.2);
    background-color: var(--color-glow-light);
    opacity: 0.5;
    box-shadow: inset 0 0 1px var(--color-glow), 0 0 1px 1px var(--color-glow-light);
    height: 100%;
  }
}

.sequence__ticks {
  grid-area: ticks;
  position: relative;
  z-index: $z--schedule-ticks;
  background-color: var(--color-gray-light);
  height: hem(2);
  border: 1px solid var(--color-gray-darkest);
  border-left: 0;
  box-shadow: 0 3px 2px #53535399;

  display: flex;
  align-items: end;
  gap: calc(var(--hems-per-second) / 10);
}

.sequence__tick {
  background-color: var(--color-gray-darkest);
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  /* lines up the center of the ticks with their numbers */
  transform: translateX(-50%);
}

.sequence__tick--whole {
  height: 80%;
  width: hem(0.3);
  margin-right: hem(-0.3);
}

.sequence__tick--half {
  height: 60%;
  width: hem(0.2);
  margin-right: hem(-0.2);
  background-color: var-lighten(var(--color-gray-darkest), 30%);
}

.sequence__tick--tenth {
  height: 40%;
  width: hem(0.1);
  margin-right: hem(-0.1);
  background-color: var-lighten(var(--color-gray-darkest), 50%);
}

/* CLIPS */
.sequence__clips {
  width: 100%;
  // grid-area: clips;
}

.sequence__dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gray;
  z-index: $z--schedule-darkened-overlay;
  pointer-events: none;
  mix-blend-mode: multiply;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s;

  &--shown {
    visibility: visible;
    opacity: 0.7;
  }
}
