@font-face {
  font-family: 'Adobe Caslon Pro'; /* Name your font family */
  src: url('./fonts/Adobe-Caslon-Pro-Regular.otf'); /* Locate the .ttf file within your directory*/
}
@font-face {
  font-family: 'Filson Pro Regular'; /* Name your font family */
  src: url('./fonts/Filson-Pro-Regular.otf'); /* Locate the .ttf file within your directory*/
}

body {
  font-family: 'Fira Code' !important;
}

.tsd-comment,
.tsd-returns-title +p {
  font-family: 'Filson Pro Regular';
  color: var(--color-text-aside);
}

[data-theme="dark"] {
  &, * {
    scrollbar-color: hsl(from var(--color-icon-background) h s calc(l + 12)) var(--color-icon-background);
  }
}
[data-theme="light"] {
  &, * {
    scrollbar-color: hsl(from var(--color-accent) h s calc(l - 10)) var(--color-icon-background);
  }
}

.tsd-panel-group {
  & > section {
    display: flex;
    flex-direction: column;

    .tsd-panel.tsd-member {
      margin-bottom: 0;
      padding-top: 32px;
      padding-bottom: 32px;

      &:not(:last-child) {
        border-bottom: 2px solid var(--color-text);
      }

      & > .tsd-signature {
        background-color: var(--md-sys-color-surface-container-high);
        border-width: 2px;
      }
    }
  }
}

.tsd-signatures {
  margin-bottom: 0;

  .tsd-signature {
    background-color: var(--md-sys-color-surface-container-high);
    border-width: 2px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .tsd-description {
    &:not(:last-child) {
      margin-bottom: 16px;
      border-bottom: 1px dashed var(--color-text);
    }

    .tsd-parameters {
      .tsd-parameter-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;

        li {
          & > span +.tsd-comment:has(> p) {
            // color: var(--color-accent);
            margin-top: -0.8rem;
          }
          
          & > span:first-of-type {
            display: inline-block;
            padding: 0.6rem;
            background-color: var(--md-sys-color-surface-container-high);
            border-radius: 12px;
          }
        }
      }
    }

    .tsd-returns-title +p {
      margin-top: -0.8rem;
    }
  }
}

footer {
  padding-top: 0;
  padding-bottom: 0;
}
