@font-face {
  font-family: 'Proxima Nova'; /* Name your font family */
  src: url('./fonts/Proxima Nova Regular.woff2'); /* Locate the .woff2 file within your directory*/
  font-weight: 400;
}
@font-face {
  font-family: 'Proxima Nova'; /* Name your font family */
  src: url('./fonts/Proxima Nova Medium.woff2');
  font-weight: 500;
}

:root {
  --light-name: #666600;
  --dark-name: #ffff99;
  --dark-code-background: #222222;
  --dark-code-inline-background: #2f2f2f;
  --font-sans: "Proxima Nova" !important;
  --font-mono: "Fira Code" !important;

  @media (prefers-color-scheme: light) {
    --color-member-name: var(--light-name);
  }
  @media (prefers-color-scheme: dark) {
    --color-member-name: var(--dark-name);
  }

  &[data-theme="light"] {
    --color-member-name: var(--light-name);
  }
  &[data-theme="dark"] {
    --color-member-name: var(--dark-name);
  }
}

body {
}

.tsd-page-toolbar {
  .title {
    display: inline-block;
  }
}

.tsd-signature {
  font-family: var(--font-mono);
}

.tsd-signature-type,
.tsd-kind-parameter,
.tsd-signature-symbol {
  font-familY: var(--font-mono);
}

code:not(.ts) {
  --code-background: var(--dark-code-inline-background);
}

.tsd-accordion-summary:has(h2) {
  color: var(--code-background);
  background-color: var(--color-member-name);
  border-radius: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;

  h2 {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  svg {
    --color-text: currentColor;
  }
}

.tsd-comment,
.tsd-returns-title + p {
  color: var(--color-text-aside);
}

[data-theme="dark"] {
  &, * {
    scrollbar-color: hsl(from var(--color-icon-background) h s calc(l + 12)) var(--color-icon-background);
  }
}
[data-theme="light"] {
  &, * {
    scrollbar-color: hsl(from var(--color-accent) h s calc(l - 10)) var(--color-icon-background);
  }
}

.tsd-panel-group {
  & > section {
    display: flex;
    flex-direction: column;

    .tsd-panel.tsd-member {
      margin-bottom: 0;
      padding-top: 32px;
      padding-bottom: 32px;

      &:not(:last-child) {
        border-bottom: 2px solid var(--color-text);
      }

      & > .tsd-signature {
        background-color: var(--md-sys-color-surface-container-high);
        border-width: 2px;
      }
    }
  }

}

h3.tsd-anchor-link {
  color: var(--color-member-name);
}

h4.tsd-anchor-link:has(+ *) {
  margin-bottom: unset;

  + * {
    margin-top: unset;
  }
}

.tsd-signatures {
  margin-bottom: 0;

  .tsd-signature {
    background-color: var(--md-sys-color-surface-container-high);
    border-width: 2px;

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  .tsd-description {
    &:not(:last-child) {
      margin-bottom: 16px;
      border-bottom: 1px dashed var(--color-text);
    }

    .tsd-parameters {
      .tsd-parameter-list {
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;

        li {
          & > span +.tsd-comment:has(> p) {
            // color: var(--color-accent);
            margin-top: -0.8rem;
          }
          
          & > span:first-of-type {
            display: inline-block;
            padding: 0.6rem;
            background-color: var(--md-sys-color-surface-container-high);
            border-radius: 12px;
          }
        }
      }
    }

    .tsd-returns-title +p {
      margin-top: -0.8rem;
    }
  }
}

footer {
  padding-top: 0;
  padding-bottom: 0;
}
